<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
        <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>    
        <p align="center">&#8226 I am a third-year <strong>PhD-student</strong> at the University of Edinburgh, where I am supervised by <a href="http://homepages.inf.ed.ac.uk/da/" target="_blank">David Aspinall</a>. 
        I am part of the <a href="http://wcms.inf.ed.ac.uk/lfcs/" target="_blank">Laboratory for Foundations of Computer Science (LFCS)</a> and the <a href="https://web.inf.ed.ac.uk/anc" target="_blank">Institute for Adaptive and Neural Computation (ANC)</a>.</p>
        <p align="center">&#8226 I have a <strong>sponsorship</strong> from <strong><a href="https://www.globalservices.bt.com/en/insights/articles/ai-the-perfect-partner-for-the-future-of-cyber-defence">British Telecom</a></strong>, where I collaborate with the Future Cyber Defence lab under <a href="https://scholar.google.com/citations?user=6qeOqUgAAAAJ&hl=en" target="_blank">Alex Healing's</a> supervision.</p>

        <p align="center">&#8226 I received my <strong>M.Sc. in Statistics</strong> from Imperial College London in 2017.</p>
         <p align="center" class="bottom-three">&#8226 I received an <strong>M.Sc.</strong> and a <strong>B.Sc.in Physics</strong> from ETH Zurich in 2016 and 2013.</p>
    

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>    
    <p align="center">&#8226 I am currently conducting a research placement in the  <strong>BT labs</strong>, where I investigate scalable solutions for proxy-detection in the wild.</p>
    <p align="center" class="bottom-three">&#8226 I was advising <strong><a href="https://olz.ch/" target="_blank">OLZ & Partners</a></strong> as a technical consultant in 2016, where I implemented and compared portfolio optimization algorithms for complex constraints.</p>


    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Computer Skills" width="80" height="80"></p>
    <p align="center">&#8226 I implemented the R-C++-library <strong><a href="https://cran.r-project.org/web/packages/MMPPsampler/index.html" target="_blank">MMPPsampler</a></strong>, which can be downloaded via R-CRAN.</p>
    <p align="center">&#8226 I analyse data and implement models mainly with <strong>Python</strong> using <strong>Pandas</strong>, <strong>PyTorch</strong> and <strong>SKlearn</strong>. The most beautiful plots are in my opinion created with <strong>ggplot2</strong>.</p>
    <p align="center" class="bottom-three">&#8226 More specialised tools I use are <strong>Spark</strong> for large data processing, <strong>Docker</strong> for creating network communication scenarios, <strong>Scapy</strong> for processing network traffic, and <strong>Kali-Linux</strong> for attack analysis.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/talk.png" alt="Languages" width="70" height="70"></p>
    <p align="center">&#8226 <strong>German</strong> is my mother tongue.</p>
    <p align="center">&#8226 I am fluent in <strong>English</strong>.</p>
    <p align="center">&#8226 Mi <strong>español</strong> esta mejorando.</p>
    <p align="center" class="bottom-three">&#8226 Je parle un peu <strong>français</strong>.</p>   
    
    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
